.row {
  color: white;
  margin-left: 20px;
}
.each_row {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.each_row::-webkit-scrollbar {
  display: none;
}

.row_image {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms;
  cursor: pointer;
}
.row_image:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_large_image {
  max-height: 250px;
}
.row_large_image:hover {
  transform: scale(1.09);
  opacity: 1;
}
