.profile_container {
  height: 100vh;
  color: white;
  background-color: #141414;
}
.profile_page_content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}
.profile_page_content > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profile_page_info {
  display: flex;
}

.profile_page_info > img {
  height: 100px;
}

.profile_page_details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.profile_page_details > h2 {
  background-color: grey;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profile_page_signout {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profile_page_sub {
  margin-top: 20px;
}
.profile_page_sub > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}
