.login_container {
  position: relative;
  height: 100%;
  background: url("https://miro.medium.com/v2/resize:fit:1200/1*5lyavS59mazOFnb55Z6znQ.png")
    center no-repeat;
  background-size: cover;
}

.login_logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.login_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.login_bottom {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login_content {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.login_content > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.login_input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.login_input_button {
  padding: 15.9px 22px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}
